<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="CONSOLE_PATTERN">%d{HH:mm:ss.SSS} %highlight{[%-5level]}{FATAL=red bold, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=blue} %style{[%t]}{magenta} %style{%logger{36}}{cyan} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_PATTERN}" disableAnsi="false"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="${sys:logging.level.root:-INFO}">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
