<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title, additionalCss)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">ERP 시스템</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/common-modal.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- 추가 CSS -->
    <th:block th:if="${additionalCss != null}">
        <link rel="stylesheet" th:href="@{${additionalCss}}">
    </th:block>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- 세션 정보를 JavaScript 전역 변수로 주입 -->
    <script th:inline="javascript">
        // 현재 로그인한 사용자 정보 (서버 세션에서 주입)
        window.CURRENT_USER = {
            idx: /*[[${session.userIdx}]]*/ null,
            empId: /*[[${session.empId}]]*/ '',
            empName: /*[[${session.empName}]]*/ '',
            empDept: /*[[${session.user?.empDept}]]*/ '',
            position: /*[[${session.user?.empPosition}]]*/ '',
            isAdmin: /*[[${session.isAdmin}]]*/ false
        };

        // 로그인 여부 체크
        if (!window.CURRENT_USER.idx) {
            console.warn('세션 정보가 없습니다. 로그인 페이지로 이동합니다.');
            // 로그인 페이지가 아닌 경우에만 리다이렉트
            if (window.location.pathname !== '/login') {
                window.location.href = '/login';
            }
        }
    </script>

    <!-- 공통 JavaScript -->
    <script th:src="@{/js/common.js}" defer></script>
    <script th:src="@{/js/common-modal.js}" defer></script>
</head>
</html>
